@use "variables.module.scss" as *;

.loader {
    width: 100%;
    height: 32px;
}
.tilt {
    @include common-padding();
    @include common-border();
    background-color: $secondary-lightest;
    color: $primary-lightest;
    max-width: 800px;
    width: 100%;
    aspect-ratio: 1/0.56;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    :global {
        [data-theme='dark'] & {
            background-color: $gray-200;
            color: $text-primary;
        }
    }
}

.header {
    flex: 0.5;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    flex: 9.5;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    .left {
        flex: 3;
    }
    .right {
        flex: 7;
    }
}

